:root {
  color-scheme: light;
  --border-radius: 1.5rem;
  --background: #FEF9FD;
  --text: hsl(319, 71, 28);

  --bs-font-sans-serif: "Mulish", sans-serif !important;
  --bs-font-serif: "Poetsen One" !important;
  --bs-body-font-family: var(--bs-font-sans-serif);
  /* primary color 
  --bs-blue-hue: 320;
  --bs-blue-staturation: 84%; */

  /* secondary color 
  --bs-gray-hue: 178 !important;
  --bs-gray-saturation: 83% !important; */
}

body {
  color: var(--text);
  background-color: var(--background);
}

h1,
h3,
a {
  font-weight: 400;
  font-family: var(--bs-font-serif) !important;
}

thead>tr>th {
  font-family: var(--bs-font-serif)
}

.border-table-edges {
  border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.btn {
  font-family: var(--bs-body-font-family) !important;
}

.form-container {
  max-width: 1000px;
  margin: auto;
}

.card-arrow {
  transition: transform 0.5s;
}

@media (max-width: 768px) {

  .cta-book-now {
    margin-top: 25px;
  }

  .form-container {
    max-width: 600px;
  }

  .card-arrow {
    transform: rotate(90deg);
  }

  .border-table-edges {
    border-left: none !important;
    border-right: none !important;
  }
}