:root {
  color-scheme: light;
  --border-radius: 1.5rem;
  --background: hsl(0, 100%, 99%);
  --text: hsl(150, 88%, 7%);
  --bs-body-font-family: "Mulish", sans-serif !important;
  /* primary color 
  --bs-blue-hue: ;
  --bs-blue-staturation: ; */

  /* secondary color 
  --bs-gray-hue: 202;
  --bs-gray-saturation: 100%; */

}

body {
  color: var(--text);
  background-color: var(--background);
}

/* CALENDAR */
.react-aria-CalendarGridHeader {
  text-align: center;
}

.react-aria-CalendarCell {
  line-height: 2rem;
  text-align: center;
  outline: 2px solid var(--bs-primary);
  padding: 1rem;
  font-weight: bold;
  cursor: default;

  &[data-outside-month] {
    display: none;
  }

  &[data-pressed] {
    background: var(--bs-secondary);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--bs-info);
    outline-offset: 2px;
  }

  &[data-selected] {
    background: var(--bs-primary);
    color: var(--bs-white);
  }

  &[data-disabled] {
    background: var(--bs-form-disabled-bg);
    color: var(--bs-form-disabled-color);
  }
}

.form-container {
  max-width: 1000px;
  margin: auto;
}

.card-arrow {
  transition: transform 0.3s;
}

@media (max-width: 768px) {

  .cta-book-now {
    margin-top: 25px;
  }

  .form-container {
    max-width: 600px;
  }

  .card-arrow {
    transform: rotate(90deg);
  }
}