.timeline {
  position: relative;
  max-width: 1200px;
  margin: 25px auto;
  padding-bottom: 50px;
}

.tl-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}


.tl-textbox {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.tl-icon {
  position: absolute;
  font-size: 2rem;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: -25px;
  top: 30px;
  z-index: 3;
}

.tl-icon:first-child {
  text-align: center;
}

.right-container>.tl-icon {
  left: -25px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
}

.tl-textbox h2 {
  font-weight: bold;
}

.tl-textbox small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 2;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 2;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

@media screen and (max-width: 768px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .tl-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .tl-text {
    font-size: 13px;
  }

  .tl-textbox small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container>.tl-icon:first-child,
  .right-container>.tl-icon:first-child {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}