@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  color-scheme: light;
  --text: #270101;
  --background: #fbfbfe;

  /* use for main CTAs and buttons */
  --primary: #515de6;

  /* use for less important buttons and info cards */
  --secondary: #0ec0e0;

  /* use for secondary backgrounds */
  --accent: #b0e5e8;

  --border-radius: 1.5rem;
}

body {
  font-family: 'Nunito Sans';
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
}