@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  color-scheme: light;

  /* typography */
  --bs-body-font-family: "Asap", sans-serif;
  --bold-weight: 800;
  --color-text: #1f4b38;
  --bs-font-size-base: 1rem;
  --bs-font-size-sm: 0.75rem;
  --bs-font-size-lg: 1.5rem;

  /* background */
  --accent-color: #2a8f77;
  --bs-body-bg: #f5f7fa;
}

body {
  color: var(--color-text);
  background-color: var(--bs-body-bg);
}

.bg-body-secondary {
  background-color: #daffef !important;
}