---
import Layout from "../layouts/Layout.astro";
import WhyUs from "../components/WhyUs.jsx";
---

<Layout title="Pristine Services">
  <main>
    <section>
      <WhyUs />
    </section>
  </main>
</Layout>
