---
import BookingLayout from "../layouts/BookingLayout.astro";
import BookingType from "../components/BookingType.jsx";
import BookingFrequency from "../components/BookingFrequency.jsx";
import BookingCalendar from "../components/BookingCalendar.jsx";
---

<BookingLayout>
  <main>
    <BookingType />
    <BookingFrequency />
    <BookingCalendar />
  </main>
</BookingLayout>
