---
import BookingLayout from "../layouts/BookingLayout.astro";
import BookRoomAmount from "../components/BookRoomAmount.jsx";
---

<BookingLayout>
  <main>
    <BookRoomAmount />
  </main>
</BookingLayout>
