---
import Layout from "../layouts/Layout.astro";
import CleaningChecklist from "../components/CleaningChecklist.jsx";
---

<Layout title="Pristine Services">
    <main>
        <div class="container">
            <h1>Cleaning Checklist</h1>

            <CleaningChecklist client:load />
        </div>
    </main>
</Layout>
