---
import Layout from "../layouts/Layout.astro";
import CleaningChecklist from "../components/CleaningChecklist.astro";
import FormCTA from "../components/FormCTA.jsx";
---

<Layout title="Pristine Services">
    <main>
        <div class="container">
            <h1>Cleaning Checklist</h1>

            <CleaningChecklist />

            <section class="bg-primary-subtle pb-5">
              <FormCTA client:load />
            </section>

        </div>
    </main>
</Layout>
