---
import Layout from "../layouts/Layout.astro";
import Checklist from "../components/CleaningChecklist.astro";
---

<Layout title="Pristine Services">
  <main>
    <div class="container">
      <h1>Cleaning Checklist</h1>

      <Checklist />
      
    </div>
  </main>
</Layout>