---
import Layout from "../layouts/Layout.astro";
import CleanTypeTabs from "../components/CleanTypes/CleanTypeTabs.jsx";
---

<Layout title="Clean Types | Pristine Clean">
  <main class="bg-primary-subtle">
    <div class="container w-md-75">
      <h1 class="display-3 text-center py-5">Discover your Pristine Clean</h1>
      <CleanTypeTabs client:load />
    </div>
  </main>
</Layout>
