---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.jsx";
import ContactPoints from "../components/ContactPoints.jsx";
---

<Layout title="Contact Pristine Clean">
  <main class="container">
    <section>
      <div class="text-center my-5">
        <h1 class="fw-bold display-4">Get a commercial quote</h1>
        <h2 class="fw-normal">We'll be in touch shortly!</h2>
      </div>
    </section>

    <section class="row">
      <div class="col-md-3">
        <ContactPoints />
      </div>
      <div class="col-md-9">
        <ContactForm />
      </div>
    </section>
  </main>
</Layout>

<style>
  @media (min-width: 700px, max-width: 768px) {
    .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      font-size: 1.333rem;
    }
  }
</style>
