---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pristine Services">
  <main>
    <div class="container">

      <h3>Contact</h3>
      <h3> Get a commercial quote</h3>
      <h5>We'll be in touch shortly!</h5>

      <form action="" method="post" class="contact-form">

        <div class="form-grid">
          <div>
            <label for="Name">Name</label>
            <input id="Name" name="Name" placeholder="John Doe">
          </div>
          
          <div>
            <label for="Email">Email Address</label>
            <input id="Email" name="Email" placeholder="johnDoe@example.com">
          </div>

          <div>
            <label for="Phone">Phone Number</label>
            <input type = "tel" id="Phone" name="Phone" placeholder="(123) 456-7890">
          </div>
          
          <div>
            <label for="BusinessName">Business Address</label>
            <input id="BusinessName" name="BusinessName" placeholder="Doe Inc.">
          </div>
        </div>
        

        <label for="BusinessAddress">Business Name</label>
        <input id="BusinessAddress" name="BusinessAddress" placeholder="123 Main St.">

        <label for="Suite">Suite #</label>
        <input id="Suite" name="Suite" placeholder="Bldg. 1">

        <label for="Zip">Zip</label>
        <input id="Zip" name="Zip" placeholder="12345">

        <label for="SqFt">Square Footage (Estimation)</label>
        <input id="SqFt" name="SqFt" placeholder="1000">

        <label for="Message">Message</label>
        <textarea id="Message" name="Message" placeholder="Message"></textarea>

        <button type="submit">Submit</button>

      </form>

    </div>
  </main>
</Layout>


<style>
  @media(min-width: 700px, max-width: 768px)
  {
    .contact-form 
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      font-size: 1.333rem;
      
    }
  }
  
  
  label
  {
    font-weight: bold;
    color: var(--text);
  }

  input, textarea
  {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 0.5rem;
  }

  input:focus, textarea:focus
  {
    border: 2px solid var(--accent);
  }

  .form-grid 
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; /* Adjust the gap as needed */
  }

  .form-grid > div 
  {
  display: block;
  flex-direction: column;
}



</style>