---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/Contact/ContactForm.jsx";
import ContactPoints from "../components/Contact/ContactPoints.jsx";
---

<Layout title="Contact Pristine Clean">
  <main class="container" id="commercial-quote">
    <section>
      <div class="text-center py-5">
        <h1 class="fw-bold display-4">Get a commercial quote</h1>
        <h2 class="fw-normal">We'll be in touch shortly!</h2>
      </div>
    </section>

    <section class="row">
      <div class="col-md-9">
        <ContactForm />
      </div>
      <div class="col-md-3 rounded-4 bg-primary-subtle pt-3 h-50 mb-5">
        <ContactPoints />
      </div>
    </section>
  </main>
</Layout>
