---
import Layout from "../layouts/Layout.astro";
import FAQAccordion from "../components/FAQAccordion";
---

<Layout title="Pristine Services">
  <main>
    <div class="container">
      <h1>Questions?</h1>
      <h2>
        Can't find an answer? Call us at (317) 513-8111 or email
        sales@pristineclean-indy.com
      </h2>

      <FAQAccordion />
      
    </div>
  </main>
</Layout>
