---
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/FAQ/FAQ.jsx";
import BookingCTA from "../components/Booking/BookingCTA.jsx";
import ContactPoints from "../components/Contact/ContactPoints.jsx";
import Contact from "./contact.astro";
---

<Layout title="Pristine Services">
  <main>
    <section class="bg-primary-subtle pb-5 border-bottom">
      <div class="text-center pt-5 container">
        <h1 class="fw-bold display-4">Frequently Asked Questions</h1>
      </div>

      <div class="d-flex justify-content-center container">
        <FAQ client:load />
      </div>
    </section>

    <section class="container d-flex flex-column align-items-center mt-4">
      <h1 class="fw-bold display-4 py-4 text-center">Any other questions?</h1>
      <div class="bg-primary-subtle rounded-4 pt-4 w-100 w-md-75">
        <ContactPoints />
      </div>
    </section>

    <section class="container mb-5 pb-4">
      <div class="my-5 text-center">
        <h1 class="fw-bold display-4">Book your clean today</h1>
        <h2 class="fw-normal">It only takes 60 seconds to save 60+ hours!</h2>
      </div>
      <BookingCTA client:visible />
    </section>
  </main>
</Layout>
