---
import Layout from "../layouts/Layout.astro";
import OurProcess from "../components/OurProcess.astro";
import Assurances from "../components/Assurances.astro";
import FormCTA from "../components/FormCTA.jsx";
---

<Layout title="Pristine Clean">
  <main>
    <section class="bg-primary-subtle pb-5">
      <FormCTA client:load />
    </section>

    <div class="Malik-Section">
      <OurProcess />
      <Assurances />
    </div>
  </main>
</Layout>
