---
import Layout from "../layouts/Layout.astro";
import FormCTA from "../components/FormCTA.jsx";
import PartnerLogos from "../components/PartnerLogos.astro";
import HowItWorks from "../components/HowItWorks.jsx";
import Reviews from "../components/Reviews.jsx";
---

<Layout title="Pristine Clean">
  <main>
    <section class="bg-primary-subtle pb-5">
      <FormCTA client:load />
    </section>
    <PartnerLogos />
    <HowItWorks />
    <Reviews client:visible />
  </main>
</Layout>
