---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';
---

<Layout title="Pristine Services">
	<main>
        <h1>Hello world!</h1>
		<Navbar />
	</main>
</Layout>

<style>
</style>
