---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pristine Services">
  <main>
    <div class="container">
      <h1 class="hero-title">
        Transforming spaces, <br /> one clean at a time.
      </h1>
    </div>
  </main>
</Layout>

<style>
  .hero-title {
    font-weight: var(--bold-weight);
    font-style: italic;
    font-size: 3rem;
  }
</style>
