---
import Layout from "../layouts/Layout.astro";
import "halfmoon/css/halfmoon.min.css";
import Card from "../components/Card.astro";
import { AssuranceArray } from '../assets/misc/Assurances.json';
---

<section>
    <div class="Our-Process-Section container">
        <div class="row g-3 justify-content-evenly">

            <div class = "col-4">
                <div class = "row justify-content-center ">
                    <div class = "col-6 offset-md-4">
                        <p>Come see why Pristine Services is loved and trusted by homeowners like you.</p>
                        <a class="Quote-btn">Get an Instant Quote</a>  
                    </div>
                </div>
            </div>

            <div class = "col-8">
                <div class = "row row-cols-2 mb-3">
                    {AssuranceArray.map((assurance) => (
                        <div class ="col">
                        <Card
                        image = {assurance.image},
                        title = {assurance.title}, 
                        description = {assurance.description}
                        />
                        </div>
                    ))}
                </div>
            </div>

        </div>
    </div>
</section>

<style>
 
    @media(min-width: 700px, max-width: 768px)
    {
        .Our-Process-Section
        {
        
        
        }
    }

    p 
    {
        font-size: 1.5rem;
        text-align: center;
    }

    a 
    {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        border: 2px solid var(--accent);
        box-sizing: border-box;
        cursor: pointer;
        background-color: white;
        color: var(--accent);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 2rem;
        transition: all 0.3s ease;
    }

    a:hover {
        background-color: var(--accent-color);
        color: white;
        border: 2px solid var(--accent-color);
    }

  
</style>
