---
import Layout from "../layouts/Layout.astro";
import "halfmoon/css/halfmoon.min.css";

interface Props {
  image: string;
  title: string;
  description: string;
}

const { image, title, description } = Astro.props;
---
<div class = "container mx-auto p-5" style = "overflow: hidden;">
  <div class="card shadow" style="width: 20rem; height: 30rem; border-radius: var(--border-radius); text-align: center;">
    <img src={image} class="card-img-top" alt={title} style=" margin-top: 30px;">
    <div class="card-body" style="font-style: italic;">
      <h5 class="card-title" style="font-size: 1.5rem;">{title}</h5>
      <p class="card-text" style= "font-size: 1.25rem;">{description}</p>
    </div>
  </div>
</div>

<style>
  img 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    width: auto;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .Card-Image > img {
    margin-bottom: 2px; /* Set specific dimensions for the image */
    width: 100px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    object-fit: contain;
  }

</style>
