---
import Card from "./Card.astro";
import {ProcessArray} from "../assets/misc/Assurances.json";
---

<main>
    <div class="Our-Process-Section container">
        <div class="ZStack">
            <div class="VStack">
                <h1>How It Works</h1>

                <p>
                    We'll clean your home weekly, every two weeks, or every
                    three weeks. All our plans include low-cost or FREE errand
                    runing services.
                </p>

                <div class="row justify-content-evenly">
                    {ProcessArray.map((process) => (
                        <div class ="col">
                        <Card
                        image = {process.image},
                        title = {process.title}, 
                        description = {process.description}
                        />
                        </div>
                    ))}
                </div>

                <div class="row">
                <a href="#" class="Learn-btn col-md-6 offset-3">Learn more about our services</a>
                </div>

            </div>
        </div>
    </div>
</main>

<style>

    p {
        font-size: 1.5rem;
        text-align: center;
    }

    a {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        border: 2px solid var(--accent);
        box-sizing: border-box;
        cursor: pointer;
        background-color: white;
        color: var(--accent);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 2rem;
        transition: all 0.3s ease;
    }

    a:hover {
        background-color: var(--accent);
        color: white;
        border: 2px solid var(--accent);
    }


</style>
