---
import Card from "./Card.astro";
---

<main>
    <div class="Our-Process-Section">
        <div class="ZStack">
            <div class="VStack">
                <h1>How It Works</h1>

                <p>
                    We'll clean your home weekly, every two weeks, or every
                    three weeks. All our plans include low-cost or FREE errand
                    runing services.
                </p>

                <div class="HStack">
                    <Card
                        image="../src/assets/images/scope.svg"
                        ,
                        title="Get a Price."
                        ,
                        description="Tell us about you, your home, and your cleaning needs."
                    />
                    <Card
                        image="../src/assets/images/calendar.svg"
                        ,
                        title="Book It."
                        ,
                        description="We'll make your home shine, and run any errands you'd like."
                    />
                    <Card
                        image="../src/assets/images/house.svg"
                        ,
                        title="Breathe, smile, relax."
                        ,
                        description="The house is clean, the errands are done. Time to come home."
                    />
                </div>

                <a href="#" class="Learn-btn">Learn more about our services</a>
            </div>
        </div>
    </div>
</main>

<style>
    .Our-Process-Section {
        padding-inline: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
    }

    a {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        border: 2px solid var(--accent);
        box-sizing: border-box;
        cursor: pointer;
        background-color: white;
        color: var(--accent);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 2rem;
        transition: all 0.3s ease;
    }

    a:hover {
        background-color: var(--accent);
        color: white;
        border: 2px solid var(--accent);
    }

    .VStack {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .HStack {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .HStack > *:not(:first-child) {
        margin-left: 2rem;
    }

    .ZStack {
        position: relative;
    }
</style>
