---
import FooterSection from "../components/FooterSection.jsx";
---

<footer class="d-flex justify-content-center align-items-center">
  <div class="d-flex">
    <div class="d-flex"></div>
    <FooterSection />
    <FooterSection />
    <FooterSection />
  </div>

  <p>&copy; Pristine Clean Services 2024. All rights reserved.</p>
</footer>
