---
import Navbar from "../components/Navbar.jsx";
---

<header>
  <div class="nav-area">
    <a href="/#" class="logo">Pristine Services</a>
    <Navbar />
  </div>
</header>

<style is:global></style>
