---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import "halfmoon/css/halfmoon.min.css";
import "@fontsource-variable/nunito-sans";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Pristine Services offers premium deep cleaning, airbnb cleaning, move in and out cleaning, post construction cleaning, and commercial cleaning services."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light;
    --text: #270101;
    --background: #fbfbfe;
    --border-radius: 1.5rem;
  }

  body {
    font-family: "Nunito Sans Variable", sans-serif;
    font-weight: 400;
    color: var(--text);
    background-color: var(--background);
  }

  .fs-cta {
    font-size: 4rem;
  }

  @media (max-width: 768px) {
    .mt-sm {
      margin-top: 25px;
    }

    .fs-cta {
      font-size: 2.5rem;
    }
  }
</style>
