---
import "halfmoon/css/halfmoon.min.css";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Pristine Services offers premium deep cleaning, airbnb cleaning, move in/out cleaning, post construction cleaning, and commercial cleaning services."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
  :root {
    color-scheme: light;

    /* typography */
    --bs-body-font-family: "Asap", sans-serif;
    --bold-weight: 800;
    --color-text: #1f4b38;
    --bs-font-size-base: 1rem;
    --bs-font-size-sm: 0.75rem;
    --bs-font-size-lg: 1.5rem;

    /* background */
    --color-accent: #2a8f77;
    --bs-body-bg: #f5f7fa;
  }

  body {
    color: var(--color-text);
    background-color: var(--color-background);
  }

  .bg-body-tertiary {
    background-color: #daffef !important;
  }
</style>
